/*-------------------------------

	leaf

-------------------------------*/
.leaf {
	&__text {
		padding: 0 50px 0 10%;
	}
}
/*-------------------------------

	sweets

-------------------------------*/
.sweets {
	&__inner {
		width: 80%;
	}
}
/*-------------------------------

	gift

-------------------------------*/
.gift {
	&__inner {
		width: 70%;
	}
}
